
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><b><u>Person</u></b></h3><br>
  <div class="dataview">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
    </div>
  <div class="dataview">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
    <%= form.label :birthday %>
    <%= form.date_field :birthday %>
  </div>
  <div class="dataview">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>
<h3><b><u>Adresse</u></b></h3><br>
<div class="dataview">
  <%= form.label :address %>
  <%= form.text_field :address %>
  <%= form.label :postal %>
  <%= form.text_field :postal %>
</div>
<div class="dataview">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>
<h3><b><u>Kontakt</u></b></h3><br>
<div class="dataview">
  <%= form.label :phonenumber %>
  <%= form.text_field :phonenumber %>
  <%= form.label :mobile %>
  <%= form.text_field :mobile %>
</div>
<div class="dataview">
  <%= form.label :fax %>
  <%= form.text_field :fax %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  </div>
<h3><b><u>Sonstiges</u></b></h3><br>
  <div class="dataview">
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div class="dataview">
    <%= form.label :svnumber %>
    <%= form.text_field :svnumber %>
  </div>
  <div class="dataview">
    <%= form.label :admin %>
    <%= form.check_box :admin %>
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>
  <div style="align-center">
    <%= form.submit %>
  </div>
<% end %>
