<p id="notice"><%= notice %></p>
<fieldset>
  <legend>Navigation</legend>
<div class="navbar"><%= link_to image_tag("adressverwaltung.JPG", size: "70x70", alt: "Customermanagement"), customers_path, :title => "Customermanagement" %></div>
<div class="navbar"><%= link_to image_tag("auftragsverwaltung.JPG", size: "70x70", alt: "Ordermanagement"), orders_path, :title => "Ordermanagement" %></div>
<div class="navbar"><%= link_to 'New User', new_user_path %></div>
</fieldset>
<form>
<fieldset>
  <legend>Mitarbeiterliste:</legend>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</fieldset>
</form>
