<p id="notice"><%= notice %></p>


<form action="">
  <fieldset>
  <legend>Mitarbeiterdaten:</legend>
  <h3><b><u>Person</u></b></h3><br>
<div class="dataview">
    <label>Name</label>
    <input type="text" name="LName" value="">
    <label>Vorname</label>
    <input type="text" name="FName" value="">
  <br>
</div>
<div class="dataview">
    <label>Geburtsdatum</label>
    <input type="text" name="Birthdate" value="">
    <label>Kürzel (Win-Login)</label>
    <input type="text" name="Sign" value="">
    <br>
</div>
<br>
<h3><b><u>Adresse</u></b></h3><br>
<div class="dataview">
    <label>Straße und Hausnummer</label>
    <input type="text" name="strhnr" value="">
    <br>
</div>
<div class="dataview">
    <label>Postleitzahl</label>
    <input type="text" name="zipcode" value="">
    <label>Ort</label>
    <input type="text" name="location" value="">
    <br>
</div>
<h3><b><u>Kontakt</u></b></h3><br>
<div class="dataview">
    <label>Telefon</label>
    <input type="text" name="phonenr" value="">
    <br>
</div>
<div class="dataview">
    <label>Mobil</label>
    <input type="text" name="" value="">
    <label>Email</label>
    <input type="text" name="email" value="">
    <br>
</div>
<h3><b><u>Sonstiges</u></b></h3><br>
<div class="dataview">
    <label>Admin</label>
    <input type="checkbox" name="admin">
    <label>Aktiver Nutzer</label>
    <input type="checkbox" name="active">
    <br>
</div>
  </fieldset>
</form>
<br>


<!--<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>-->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
