<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h3><b><u>Person</u></b></h3><br>
  <div class="dataview">
    <%= form.label :sortname %>
    <%= form.text_field :sortname %>
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>
<h3><b><u>Adresse</u></b></h3><br>
<div class="dataview">
  <%= form.label :postal%>
  <%= form.text_field :postal %>
  <%= form.label :street %>
  <%= form.text_field :street %>
</div>
<div class="dataview">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>
<h3><b><u>Kontakt</u></b></h3><br>
  <div class="dataview">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
    <%= form.label :mobile %>
    <%= form.text_field :mobile %>
  </div>
  <div class="dataview">
    <%= form.label :fax %>
    <%= form.text_field :fax %>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="dataview">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
    <br>
  </div>
<% end %>
